.card {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  margin: 3px;
}

.card:focus {
outline: none;
}

.cover {
  height: 100%;
  width: 100%;
  background-color: #bb5656;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0  3px rgb(38, 33, 33);
}

.cover:hover {
  box-shadow: 0 0 1px white inset;
  background-color: #b86262;
}

.cover:active {
  outline: none
}

